<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <title th:text="#{view.index.title}">Cascade</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link th:href="@{/css/style1.css}" rel="stylesheet" />
    <!-- <title>Liste Utilisateur</title> -->
  </head>

  <body>
    <header>
      <div>
        <a th:href="@{/index}"
          ><img src="/images/haarp_logo.png" alt="Logo HAARP" id="logo-haarp"
        /></a>
      </div>
      <div>
        <h1 class="briem-hand">Cascade</h1>
        <h2 class="briem-hand">outils d'apprentissage</h2>
      </div>
      <div>
        <a th:href="@{/index}"
          ><img src="/images/epmi_logo.png" alt="Logo EPMI"
        /></a>
      </div>
    </header>

    <div class="topnav">
        <nav>
          <a class="active" th:href="@{/}">Home</a>
          <a th:href="@{/exercices}">Exercices</a>
          <a th:href="@{/mon_tableau_de_bord}">Mon Tableau de Bord</a>
          <div class="dropdown">
           <button class="dropbtn"><a th:href="@{/admin}">Administration
              </a>
            </button>
            <div class="dropdown-content">
              <a th:href="@{/user/list}">Users</a>
              <a th:href="@{/user/list/enfant-autiste}">Enfants Autistes</a>
              <a th:href="@{/user/list/professionnel-sante}">Professionnels de Santé</a>
            </div>
          </div> 
          <a th:href="@{/identification}" class="split">Connexion</a>
          <a th:href="@{/inscription}" class="split">Inscription</a>
        </nav>
      </div>

    <h2>Add/Edit Professionnel de Santé</h2>

    <form th:action="@{/professionnel_sante/save}" th:object="${professionnelSante}" method="post">
      <input type="hidden" th:field="*{id}" />  
      <label for="nom" >Nom:</label>
      <input type="text" title="nom" placeholder="Nom" th:field="*{nom}" />
      <br />
      <label for="prenom">Prénom:</label>
      <input type="text" title="prenom" placeholder="Prenom" th:field="*{prenom}" />
      <br />
      <div class="form-group">
        <label for="dateNaissance">Date de Naissance:</label>
        <input type="text" th:field="*{dateNaissance}" class="form-control" placeholder="yyyy-MM-dd" 
       required>
       </div>
      <br />
      <label for="specialite">Specialite:</label>
      <input type="text" title="specialite" placeholder="specialite" th:field="*{specialite}" />
      <br />
      <button type="submit">Save</button>
    </form>
    <a th:href="@{/professionnel_sante/list}">Back to List</a>
  </body>
</html>
