<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    
    <title th:text="#{view.index.title}">Cascade</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
    
    <link th:href="@{/css/style1.css}" rel="stylesheet">
  </head>

  <body>
  
    <header>
      <div>
        <a th:href="@{/home}"
          ><img
            src="/images/haarp_logo.png"
            alt="Logo HAARP"
            id="logo-haarp"
        /></a>
      </div>
      <div>
        <h1 class="briem-hand">Cascade</h1>
        <h2 class="briem-hand">outils d'apprentissage</h2>
      </div>
      <div>
        <a th:href="@{/home}"
          ><img src="/images/epmi_logo.png" alt="Logo EPMI"
        /></a>
      </div>
    </header>

    <div class="topnav">
      <nav>
        <a class="active" th:href="@{/home}">Home</a>
        <a th:href="@{/exercices}">Exercices</a>
        <a th:href="@{/mon_tableau_de_bord}">Mon Tableau de Bord</a>
        <div class="dropdown">
          <button class="dropbtn">Administration
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a th:href="@{/utilisateur/list}">Utilisateurs</a>
            <a href="@{/professionnelSante/list}">Professionnels de Santé</a>
            <a href="@{/connexion/list}">Connexions</a>
          </div>
        </div> 
        <a th:href="@{/identification}" class="split">Connexion</a>
        <a th:href="@{/inscription}" class="split">Inscription</a>
      </nav>
    </div>


    <h1>Bienvenue sur l'outil de gestion Cascade</h1><br>
    <h2>Veuillez choisir votre option :</h2>


<!--
    <form th:action="@{/}">
      <input type="text" th:name="participant"/>
      <select th:name="country">
          <option value="de">Germany</option>
          <option value="nl">Netherlands</option>
          <option value="pl">Poland</option>
          <option value="lv">Latvia</option>
      </select>
  </form>


    
    <form th:action="@{/{value}}">
        <select>
            <option th:value="utilisateurList">Search all users</option>
            <option th:value="addEditUtilisateur">Search by user name</option>  
        </select>
        <input type="text" th:field="value" name="searchField"/>
        <input type="submit" value="Search" name="searchButton"/>
    </form>
  -->

    <button>envoyer</button>
    <footer id="basPage">© Copyright 2018 Moncef Benkherrat</footer>

  </body>
</html>



<!--
<p>Search options:</p>
<form action="#" th:action="@{/get/{value}" method="get">
    <select>
        <option th:value="AllUsers">Search all users</option>
        <option th:value="ByUsername">Search by user name</option>
        <option th:value="ByFirstname">Search by first name</option>
        <option th:value="ByLastname">Search by last name</option>
        <option th:value="ByAddress">Search by address</option>
        <option th:value="ByCity">Search by city</option>
        <option th:value="ByState">Search by state</option>
        <option th:value="ByZipCode">Search by zip code</option>
        <option th:value="ByPhoneNumber">Search by phone number</option>
        <option th:value="ByEmail">Search by email</option>
    </select>
    <input type="text" th:field="value" name="searchField"/>
    <input type="submit" value="Search" name="searchButton"/>
</form>


@RequestMapping(value = "/get/ByState", method = RequestMethod.GET)
public String getByState() {
    // ...
}

@RequestMapping(value = "/get/ByCity", method = RequestMethod.GET)
public String getByCity() {
    // ...
}


In my situation statues is a list of Enum values. Model attribute is populated as usually you do in Spring:

mav.addObject("statuses", EnumSet.allOf(Status.class));
Group has a filed of type Status (the enum).

<div class="form-group row">
    <select class="form-control" id="status" name="status">
        <option th:each="stat : ${statuses}"
                th:value="${stat}"
                th:text="${stat}"
                th:selected="${stat.equals(group.status)}"/>
    </select>
</div>
-->