<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    
    <title th:text="#{view.index.title}">Cascade</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link th:href="@{/css/style1.css}" rel="stylesheet">
   <!-- <title>Liste Utilisateur</title> -->

  </head>

  <body>
  
    <header>
      <div>
        <a th:href="@{/index}"
          ><img
            src="/images/haarp_logo.png"
            alt="Logo HAARP"
            id="logo-haarp"
        /></a>
      </div>
      <div>
        <h1 class="briem-hand">Cascade</h1>
        <h2 class="briem-hand">outils d'apprentissage</h2>
      </div>
      <div>
        <a th:href="@{/index}"
          ><img src="/images/epmi_logo.png" alt="Logo EPMI"
        /></a>
      </div>
    </header>

    <div class="topnav">
      <nav>
        <a class="active" th:href="@{/}">Home</a>
        <a th:href="@{/exercices}">Exercices</a>
        <a th:href="@{/mon_tableau_de_bord}">Mon Tableau de Bord</a>
        <div class="dropdown">
          <button class="dropbtn">Administration
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a th:href="@{/user/list}">Users</a>
            <a th:href="@{/user/list/enfant-autiste}">Enfants Autistes</a>
            <a th:href="@{/user/list/professionnel-sante}">Professionnels de Santé</a>
          </div>
        </div> 
        <a th:href="@{/identification}" class="split">Connexion</a>
        <a th:href="@{/inscription}" class="split">Inscription</a>
      </nav>
    </div>
   

    <h2>Liste Enfant Autiste</h2>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Date de naissance</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${user}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.nom}"></td>
          <td th:text="${user.prenom}"></td>
          <td th:text="${user.dateNaissance}"></td>
          <td>
            <a th:href="@{'/user/edit/' + ${user.id}}">Edit</a>
            <a th:href="@{'/user/delete/' + ${user.id}}">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <a th:href="@{/user/add}">Add Utilisateurs</a>
  </body>
</html>
