<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    
    <title th:text="#{view.index.title}">Cascade</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link th:href="@{/css/style1.css}" rel="stylesheet">
   <!-- <title>Liste Utilisateur</title> -->

  </head>

  <body>
  
    <header>
      <div>
        <a th:href="@{/home}"
          ><img
            src="/images/haarp_logo.png"
            alt="Logo HAARP"
            id="logo-haarp"
        /></a>
      </div>
      <div>
        <h1 class="briem-hand">Cascade</h1>
        <h2 class="briem-hand">outils d'apprentissage</h2>
      </div>
      <div>
        <a th:href="@{/home}"
          ><img src="/images/epmi_logo.png" alt="Logo EPMI"
        /></a>
      </div>
    </header>

    <div class="topnav">
      <nav>
        <a class="active" th:href="@{/home}">Home</a>
        <a th:href="@{/exercices}">Exercices</a>
        <a th:href="@{/mon_tableau_de_bord}">Mon Tableau de Bord</a>
        <div class="dropdown">
          <button class="dropbtn">Administration
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a th:href="@{/utilisateur/list}">Utilisateurs</a>
            <a th:href="@{/professionnelSante/list}">Professionnels de Santé</a>
            <a th:href="@{/connexion/list}">Connexions</a>
          </div>
        </div> 
        <a th:href="@{/identification}" class="split">Connexion</a>
        <a th:href="@{/inscription}" class="split">Inscription</a>
      </nav>
    </div>
   

    <h2>Liste Professionnel de Santé</h2>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date de naissance</th>
          <th>ville</th>
          <th>Code Postal</th>
          <th>Adresse</th>
          <th>numeroTelephone</th>
          <th>Hôpital</th>
          <th>Service</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="professionnelSante : ${professionnelSante}">
          <td th:text="${professionnelSante.id}"></td>
          <td th:text="${professionnelSante.firstName}"></td>
          <td th:text="${professionnelSante.lastName}"></td>
          <td th:text="${professionnelSante.birthDate}"></td>
          <td th:text="${professionnelSante.ville}"></td>
          <td th:text="${professionnelSante.codePostal}"></td>
          <td th:text="${professionnelSante.adresse}"></td>
          <td th:text="${professionnelSante.numeroTelephone}"></td>
          <td th:text="${professionnelSante.hopital}"></td>
          <td th:text="${professionnelSante.service}"></td>
          <td>
            <a th:href="@{'/professionnelSante/edit/' + ${professionnelSante.id}}">Edit</a>
            <a th:href="@{'/professionnelSante/delete/' + ${professionnelSante.id}}">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <a th:href="@{/professionnelSante/add}">Add Professionnel de Santé</a>
  </body>
</html>
